.container{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-template-rows:100px 100px ;
    gap: 10px; 
    place-items: center

}
.box {
    grid-column: ;
    grid-row: ;
    background-color: aqua;
    padding: 20px;
    text-align: center;
    border: 5px solid crimson;
    border-radius: 10px;
}